  .legend{    
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;

  }

  .list-color{
    /* border-radius: 15px; */
    list-style-type: none;
    display: flex;
    width: 85%;
    padding: 0.5rem;
    background-color: #00FF99;
    justify-content: space-between;
  }

  .color{
    min-width: 8%;
    width: 14%;
    height: 4vh;
    background-color: #d4ffcc;
    border-radius: 10px;
    margin: 0 .1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .color div{
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
  }

  .color span{
    font-size: 1em;
  }
  
  
  
  .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableau-container{
    overflow-x: scroll;
    overflow-y: hidden; 
    scroll-behavior: smooth;
    width: 85%;
    margin: 1rem 0;
    border: solid black 1px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sticky-container{
    position: relative;
    text-align: left;
  }
  .sticky-container span{
    position: sticky;
    left: 0;
  }
  tbody{
    width: 100%;
  }
  tr{
    position: relative;
    width: 100%;
  }

  th, td {
    text-align: center;
    border: 1px solid black;
    min-width: 19px;
  }
  
  thead th {
    background-color: #333;
    color: white;
  }
  
  th[rowspan], td[rowspan] {
    vertical-align: middle;
  }
  
  th[colspan] {
    background-color: #555;
    color: white;
  }
  
  tbody th{
    background-color : crimson;
    color: whitesmoke;
  }

  tbody tr th.original:hover{
    background-color: #0b0631;
  }

  tbody tr th .nomFormateurDiv{
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cloneNomFormateur {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: unset;
  }

  
  .cloneNomFormateur .nomFormateurDiv{
    position: sticky;
    left: 0;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    color: whitesmoke;
    padding: 1px;
    min-width: 19px;
  }
  