@font-face{
    font-family: 'Alice-Regular';
    src: url('../Fonts/Alice-Regular-webfont.ttf');
    src: url('../Fonts/Alice-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'DejaVuSerif';
    src: url('../Fonts/DejaVuSerif-webfont.ttf');
    src: url('../Fonts/DejaVuSerif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}