h1 {
    color: green;
    text-align: center;
    font-size: 3rem;
    font-family: Alice, sans-serif;
}

section {
    padding: 0 20px 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: text;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    content: url('/planning/Views/assets/image/calendar.svg');
    cursor: pointer;
}
select{
    cursor: pointer
}
input[type="submit"][name="inscription"]{
    display: block;
    margin: 1.5rem auto 0;
}

input[type="submit"],
input.delete,
button.add-date-fields,
button.delete-date-fields {
  background-color: orange;
  color: white;
  border: none;
  margin: 0.5rem 0;
  padding: 1rem 3rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all .2s ease;
}
input[type="submit"]:hover{
    background-color: #41d60a;
}
button.add-date-fields:hover {
    background-color: #ff6600;
}

button.delete-date-fields:hover,input[type="submit"][name="delete"]:hover{
    background-color: #ff0000;
}
.confirm h4{
    color: #ff0000;
}
hr {
    border: none;
    /* border-top: 1px solid #ccc; */
    margin: 20px 0;
}
.fin-list{
    height: 3px;
    background-color: #ffd587;
}

h2 {
    color: green;
    margin-bottom: 10px;
}

.add-date-fields {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
/* les jours de semain */

.teletravail {
    height: 25rem;
  }
  
  .demande-teletravail {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 21em;
    justify-content: space-between;
  }

  .notif-demande-teletravail b{
    color: #f00;
  }
  .app {
    display: flex;
    margin-bottom: 2em;
    justify-content: center;
  }
  .prise-effet{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prise-effet label{
    font-size: 1.3rem;
    margin-bottom: .2rem  ;
  }
  
  
  article {
    position: relative;
    width: 140px;
    height: 100px;
    margin: 5px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
  }
  
  article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
  }
  
  article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
  }
  
  input[type=checkbox]:checked~div {
    background-color: #50f29e;
  }
  
  
  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin: 0%;
      width: 100%;
    }
  }
  

  input.date-champe{
    width: 25%;
  }
  .valid-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }