header.big {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 17vh;
    margin-bottom: 2rem;
}

.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    background-color: #00FF99;
    border-radius: 15px 15px 0 0;
}

header .alert-menu {
    left: 7%;
}

header .alert-menu .dropmenu {
    background-color: #ffbd4e;;
}

header .alert-menu .bell-box {
    position: relative;
    width: 40px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

header .alert-menu .bell-box .bell-img {
    height: 100%;
    width: 100%;
    transition: ease-out .5s;
}

header .alert-menu .bell-box .badge {
    vertical-align: top;
    right: -5px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    padding: .2rem .45rem;
}

header .bell-button.active .bell-box .bell-img {
    transform: rotate(-45deg);
    transition: ease-out .5s;
}
header .dropmenu.drop-notif{
    width: 70vw;
    max-height: 65vh;
    overflow: scroll;
}

header .dropmenu.drop-notif li{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    height: max-content ;
    padding: 0.5em 0;
    cursor: default;
}

  
.drop-notif li:last-child {
    border-bottom: none;
}

.drop-notif li span{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.15rem;
    padding: 0.5em 3rem;
    font-family: verdana;
}
.drop-notif b{
    position: absolute;
    right: 1rem;
    top: .4rem;
    color: #2d712b;
    font-size: 1.3rem;
}

.notif-linge{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.notif-linge .btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.notif-linge .valider, .notif-linge .refuser{
    width: fit-content;
    background-color: #63b262;
    padding: 0 24PX;
    color: white;
    font-size: x-large;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}
.notif-linge .valider:hover{
    background-color: #75d574;
}

.notif-linge .refuser{
    background-color: #bd1d1d;
}

.notif-linge .refuser:hover{
    background-color: #f52323;
}

header .flower-img {
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

header .flower-img.spin-flower {
    transform: rotate(1125deg);
    transform-origin: center;
    padding-right: 1rem;
    padding-top: 1rem;
    transition: ease-out 1s;
}

main {
    height: 80%;
    width: 100%;
    overflow: scroll;
}

form.main-form,
form.activite-form {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 60%;
}

/******** Form Main page ********/
form.main-form #part1, form.activite-form #part1{
    height: 100%;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "debut fin ville"
        "grid1 input grid2"
        "grid3 avance grid4";
    align-items: center;
}
form.activite-form #part1{
    grid-template-columns: .5fr repeat(2, 1fr) .5fr;
    grid-template-areas:
        "gridcell debut fin gridcell3"
        "gridcell1 input input gridcell4"
        "gridcell2 avance avance gridcell5";
}

form #part1 #debut {
    grid-area: debut;
}

form #part1 #fin {
    grid-area: fin;
}

form.main-form #part1 #ville {
    grid-area: ville;
}

form #part1 input[type="submit"]+span {
    cursor: pointer;
    grid-area: avance;
    text-align: center;
    color: #10617d;
    font-weight: 900;
    transition: .2s ease;
}

form #part1 input[type="submit"]+span:hover {
    color: #333;
    font-size: 1.2rem;
}

form #part1 input[type="submit"]{
    padding: .4rem 0;
    border: none;
    border-radius: 10px;
    background-color: #EEA538;
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: Alice, 'sans-serif';
    grid-area: input;
    transition: ease-in .2s;
}

form.main-form #part1 #submit:hover {
    background-color: #be8d44;
    box-shadow: -3px 3px 5px 1px #04c175;
}

form #part2 {
    display: flex;
    flex-direction: column;
}

form #part2.dropmenu {
    opacity: 1;
    width: 81vw;
    height: max-content;
    max-height: 70vh;
    overflow: scroll;
    left: -33.3%;
    padding-bottom: 1rem;
    color: white;
    background-color: #84AE70;
    z-index: 1;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .25);
}

.shadow {
    height: 5px;
    box-shadow: 0px 15px 29px 2px #000;
    width: 100%;
    background-color: #3cd799ba;
}

form #part2 .sect h2 {
    margin: 2rem 0;
    text-decoration: underline;
    text-align: center;
    font-family: DejaVuSerif, sans-serif;
}

form #part2 .sect .grns,
form #part2 .sect .formateurs {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
    margin-bottom: 12px;
}

form #part2 .sect .formateurs {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
}

form #part2 label {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-areas: "checkmark input";
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
}

form #part2 .sect input+span {
    grid-area: input;
}

form #part2 .sect input {
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    grid-area: checkmark;
}

form #part2 .checkmark {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    grid-area: checkmark;
}

form #part2 .checkmark:hover {
    background-color: #41ccfb52;
}

form #part2 input:checked~.checkmark {
    background-color: #41ccfb;
}

form #part2 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 4px 4px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form #part2 input:checked~.checkmark:after {
    display: block;
}

form #part2 .submit-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}