.content-container h1{
    font-size: 3rem;
    text-align: center;
    margin: .5rem 0;
    font-family: Alice, sans-serif;
}
.content-container hr:last-of-type{
    display: none;
}
.content-container input.delete, .content-container input[name="Delete"], .content-container a{
    display: inline-block;
    border: none;
    outline: none;
    background-color: #37c8554a;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #b53701;
    font-weight: 700;
    font-family: Alice, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.content-container input[name="Delete"]{
    color: #ff0000;
    font-weight: 900;
}
.content-container a{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.content-container p>span{
    font-weight: 900;
    color: #22AB09;
}
.content-container .btns-box{
    display: flex;
    padding: 1rem 0;
}
.content-container .confirm-text{
    margin-top: .5rem ;
    color: #f34a02;
}