

/* general css */
.titre{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
}

.container-info hr, .container-vacances hr{
    border: 1px solid black;
}

.valider {
  width: 120px;
  background-color: darkgreen;
  color: aliceblue;
  font-size: x-large;
}
/* profile css */
.profil-text{
  outline: solid #50f29e;
  width: fit-content;
  padding: 2em;
  border-radius: 1.5rem;
  margin: 1em 0 0 1em;
  position: absolute;
}
.info-personel{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 5em; 
    margin-bottom: 5em; 
}



.container-info{
    border: solid black;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: aquamarine;
}


.nom-profil, .prenom-profil, .mail-profil, .mdp-profil{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 25px;
    margin: 35px 0;
}

.profil a{
    text-decoration: none;
    background: ghostwhite;
    border: solid 1px;
    width: 120PX;
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
}



/* vacances css */

.demande-vacances{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}


.container-vacances{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* les jours de semain */

.container-teletravail{
    display: flex;
    align-items: center;
}

.app{
    display: flex;
}


article {
    position: relative;
    width: 140px;
    height: 100px;
    margin: 5px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
  }
  
  article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
  }
  
  article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
  }
  
  input[type=checkbox]:checked ~ div {
    background-color: #50f29e;
  }
  

  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin: 0%;
      width: 100%;
    }
  }

  /* style admin list color */

  .list-color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .cloumn{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    min-width: fit-content;
  }
  .cloumn div {
    position: relative;
    display: flex;
    width: auto;
    justify-content: space-between;
    outline: solid black 2px;
    align-items: center;
    padding-left: 20px;
    font-size: large;
  }


/* input style */
  