:root{
    --greenCell: #00FF99;
    --weekendCell: gray;
    --emptyCell: #ddd;
    --vacancesCell: #492a91;
    --ferieCell: #3985E2;
    --vacencesCell: #def41d;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: #EFFFE2;
    box-shadow: inset 0px 0px 27px 10px rgba(153, 211, 126, 0.69);
}
header{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
.header-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    background-color: #00FF99;
    border-radius: 15px 15px 0 0;
}
.nav-content{
    position: absolute;
    left: 0;
    height: 100%;
    width: 30%;
}
.burger-button{
    position: relative;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.burger-button .burger-box {
    position: relative;
    width: 30px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.burger-button .burger-box .burger,
.burger-button .burger-box .burger::before,
.burger-button .burger-box .burger::after{
    width: 30px;
    height: 5px;
    background-color: black;
    position: absolute;
    transition: .75s ease;
}
.burger-button .burger-box .burger{
    display: block;
    top: 50%;
}
.burger-button .burger-box .burger::before{
    display: block;
    content: "";
    bottom: 11px;
}
.burger-button .burger-box .burger::after{
    display: block;
    content: "";
    top: 11px;
}

.burger-button .burger-box.active .burger{
    transform: rotate(-45deg);
    top: 50%;
}
.burger-button .burger-box.active .burger::before{
    bottom: 0;
    transform: rotate(90deg);
    opacity: 0;
}
.burger-button .burger-box.active .burger::after{
    top: 0;
    transform: rotate(90deg);

}
.active-nav{
    animation: dropDown .75s;
}
@keyframes dropDown{
    0%{
        top: -123px;
        opacity: 0;
    }
    60%{
        opacity: 0.5;
    }
    80%{
        background-color:#343A35;
        top: 69px;
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
header nav#dropnav{
    position: absolute;
    background-color:#343A35;
    left: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    transition: ease-out .5s;
}
header nav#dropnav ul{
    list-style: none;
}
header nav#dropnav ul li{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.5rem 0;
    transition: ease-out .4s 
}
header nav#dropnav ul li:last-child{
    border-radius: 0 0 12px 12px;
}
header nav#dropnav ul li a{
    text-decoration: none;
    color: #EFFFE2;
    font-size: 1.3rem;
    transition: ease-in .4s 
}
header nav#dropnav ul li:hover{
    background-color: #ddd;
}
header nav#dropnav ul li:hover a{
    color: #333;
}
header img{
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

main{
    height: 90vh;
    width: 100%;
    overflow: scroll;
}