:root{
    --greenCell: #00FF99;
    --weekendCell: gray;
    --emptyCell: #ddd;
    --vacancesCell: #492a91;
    --ferieCell: #3985E2;
    --vacencesCell: #def41d;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: #EFFFE2;
    box-shadow: inset 0px 0px 27px 10px rgba(153, 211, 126, 0.69);
}
header{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    z-index: 1;
}
.header-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    background-color: #00FF99;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 10px 4px 0 rgba(0, 0, 0, .32);
    z-index: 2;
}
.menu{
    position: absolute;
    left: 0;
    height: 100%;
    width: 30%;
}
.nav-button{
    position: relative;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.burger-button .burger-box {
    position: relative;
    width: 30px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.burger-button .burger-box .burger,
.burger-button .burger-box .burger::before,
.burger-button .burger-box .burger::after{
    width: 30px;
    height: 5px;
    background-color: black;
    position: absolute;
    transition: .75s ease;
}
.burger-button .burger-box .burger{
    display: block;
    top: 50%;
}
.burger-button .burger-box .burger::before{
    display: block;
    content: "";
    bottom: 11px;
}
.burger-button .burger-box .burger::after{
    display: block;
    content: "";
    top: 11px;
}

.burger-button.active .burger-box .burger{
    transform: rotate(-45deg);
    top: 50%;
}
.burger-button.active .burger-box .burger::before{
    bottom: 0;
    transform: rotate(90deg);
}
.burger-button.active .burger-box .burger::after{
    top: 0;
    transform: rotate(90deg);

}
.active-nav{
    animation: dropDown .75s;
}
header .dropmenu{
    position: absolute;
    background-color:#343A35;
    left: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    transition: ease-out .5s;
    z-index: 2;
}
header .dropmenu ul{
    list-style: none;
}
header .dropmenu ul li{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.5rem 0;
    transition: ease .2s 
}
header .dropmenu ul li:last-child{
    border-radius: 0 0 12px 12px;
}
header .dropmenu ul li a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #EFFFE2;
    font-size: 1.3rem;
    transition: ease .2s 
}
header .dropmenu ul li:hover{
    background-color: #ddd;
}
header .dropmenu ul li:hover a{
    color: #333;
}
header .alert-menu{
    left: 10%;
}
header .alert-menu .dropmenu{
    background-color: #9EB4A0;
}
header .alert-menu .bell-box{
    position: relative;
}
header .alert-menu .bell-box .bell-img{
    height: 100%;
    width: 100%;
    transition: ease-out .5s;
}
header .alert-menu .bell-box .badge{
    vertical-align: top;
    right: -5px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    padding: .2rem .45rem;
}
header .bell-button.active .bell-box .bell-img{
    transform: rotate(-45deg);
    transition: ease-out .5s;
}

header .flower-img{
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

header .flower-img.spin-flower{
    transform: rotate(1125deg);
    transform-origin: center;
    padding-right: 1rem;
    padding-top: 1rem;
    transition: ease-out 1s;
}
main{
    height: 90%;
    width: 100%;
    overflow: scroll;
}

form{
    position: relative;
    z-index: 1;
    height: 100%;
}

form.main-form #part1{
    height: 100%;
}
form.main-form #part2.dropmenu{
    opacity: 1;
    width: 71.5vw;
    height: 40vh;
    left: -60%;
    color: white;
    background-color: #84AE70;
    z-index: 1;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .25);
}


@keyframes dropDown{
    0%{
        top: -123px;
        opacity: 0;
    }
    60%{
        opacity: 0.5;
    }
    80%{
        top: 10vh;
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}